---
// Library imports
import { Image } from "astro:assets"

// Type imports
import type { imageMetadata } from "astro/assets/utils"

type Props = {
  img: ImageMetadata
  body: string
  name: string
  role: string
}

const { img, body, name, role } = Astro.props
---

<article>
  <Image src={img} alt={name} width={72} height={72} class="round" />
  <p class="body">{body}</p>
  <h3 class="name">{name}</h3>
  <p class="role">{role}</p>
</article>

<style lang="scss">
  @use "../sass/abstracts" as *;

  article {
    .body {
      max-width: 50ch;
      margin-block-start: 2rem;
      margin-inline: auto;

      @include mq(medium) {
        margin-block-start: 3.625rem;
      }
    }

    .name {
      font-family: $font-family-accent;
      font-weight: $font-weight-black;
      color: $color-neutral-900;
      margin-block-start: 2rem;

      @include mq(medium) {
        margin-block-start: 4.25rem;
      }
    }

    .role {
      font-size: $font-size-200;
      color: $color-neutral-300;
      margin-block-start: 0.5rem;
    }
  }
</style>
